header, 
footer, 
.newsletterlist, 
.accionesBar, 
.avisoRojo,
.listing1 aside, 
.favroute,
.toggle_share, 
.pagination,
.ocultoPrint {
	display:none;
}

.image image{
	display:block;
}

.ovlItem .media-object{
	visibility: visible;
}